body {
  /*background-image: url("../images/discordBANs-rogo.png");*/
    /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  background-size: cover;
  background-color: gray;
  background-repeat: no-repeat;
background-attachment: fixed;


}
@media screen and (min-width: 768px) {
        body {
          background-attachment: fixed;
        }
}
.navbar- {
background-color: black;
border-color: white;
}