body {
  background-image: url("../images/db_preview.png");
    /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  background-size: cover;


}
@media screen and (min-width: 768px) {
        body {
          background-attachment: fixed;
        }
}
.navbar-default {
background-color: white;
border-color: deepskyblue;
}